extends layout

block content
    div.container
        div.col-md-6
            div#game-container
        div.col-md-6
            div#ranking
                table.table.table-bordered
                    tr.table-header
                        th Nome
                        th Pontos
