doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src="javascripts/phaser.min.js")
        script(src="javascripts/jquery.min.js")
        //script(src="javascripts/game.old.js")
        script(src="javascripts/Boot.js")
        script(src="javascripts/Preload.js")
        script(src="javascripts/MainMenu.js")
        script(src="javascripts/Game.js")
        script(src="javascripts/Highscore.js")
        script(src="javascripts/RainingNun.js")
